---
- name: Cluster -  configure haproxy cluster with keepalived
  become: true
  when: haproxy_cluster | default(false)
  block:
    - name: Ensure keepalived and dependencies are installed # psmic is for killall within keepalived check script
      become: true
      ansible.builtin.package:
        name:
          - keepalived
          - psmisc
        state: present

    - name: Permit vrrp (ip protocol 112) traffic through firewalld
      ansible.posix.firewalld:
        protocol: vrrp  # <-- ONLY vrrp
        permanent: true
        state: enabled
        zone: drop
      when: "'firewalld.service' in ansible_facts.services"
      notify: Reload firewalld

    - name: Copy keepalived.cfg and ensure correct owner and group are set
      ansible.builtin.template:
        src: "{{ haproxy_keepalived_config }}"
        dest: '/etc/keepalived/keepalived.conf'
        owner: root
        group: root
        mode: '0644'
      notify:
        - Reload keepalived

    - name: Ensure keepalived service is enabled
      ansible.builtin.service:
        name: keepalived
        enabled: true
