---
# file: install.yml

- name: Install - ensure SELinux Python libraries (RHEL-family) are installed
  become: true
  ansible.builtin.package:
    name:
      - python3-libselinux
      - python3-policycoreutils
    state: present
  when: ansible_os_family == 'RedHat'
  tags:
    - haproxy
    - haproxy-install

- name: Install - ensure haproxy package is installed
  ansible.builtin.package:
    name: "{{ haproxy_package_name }}{{ (ansible_os_family == 'RedHat') | ternary('-', '=') }}{{ haproxy_pin_version }}.*"
    state: present
    update_cache: true
  tags:
    - haproxy
    - haproxy-install
