---
# tasks file for haproxy
- name: Include OS/Version-specific variables
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_distribution }}-{{ ansible_distribution_version }}.yml"
        - "{{ ansible_os_family }}-{{ ansible_distribution_major_version }}.yml"
      skip: true
  tags:
    - haproxy
    - haproxy-install
    - haproxy-cluster

- name: Gather service facts
  ansible.builtin.service_facts: {}
  tags:
    - haproxy
    - haproxy-install
    - haproxy-cluster

- name: Install haproxy
  ansible.builtin.import_tasks: install.yml
  tags:
    - haproxy
    - haproxy-install

- name: Configure haproxy
  ansible.builtin.import_tasks: configure.yml
  tags:
    - haproxy
    - haproxy-configure

- name: Configure cluster
  ansible.builtin.import_tasks: cluster.yml
  tags:
    - haproxy
    - haproxy-cluster

- name: Build and configure coraza-spoa
  ansible.builtin.import_tasks: coraza.yml
  when: ansible_os_family == 'RedHat' and haproxy_coraza
  tags:
    - haproxy
    - haproxy-coraza
