---
# tasks file for haproxy

# Variable setup using first found strategy
- name: Include OS/Version-specific variables
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_distribution }}-{{ ansible_distribution_version }}.yml"
        - "{{ ansible_os_family }}-{{ ansible_distribution_major_version }}.yml"
      skip: true
  tags:
    - haproxy
    - haproxy-install
    - haproxy-cluster

- name: Gather service facts
  ansible.builtin.service_facts: {}
  tags:
    - haproxy
    - haproxy-install
    - haproxy-cluster

- name: Install haproxy
  ansible.builtin.import_tasks: install.yml
  tags:
    - haproxy
    - haproxy-install

- name: Configure haproxy
  ansible.builtin.import_tasks: configure.yml
  tags:
    - haproxy
    - haproxy-configure

- name: Configure cluster
  ansible.builtin.import_tasks: cluster.yml
  tags:
    - haproxy
    - haproxy-cluster
