# {{ ansible_managed }}
# optimized for HAProxy version 2.4.X LTS based on https://www.haproxy.org/download/2.4/doc/configuration.txt
#
#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log         127.0.0.1 local0

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    stats       timeout 30s
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats mode 660 level admin expose-fd listeners

    # utilize system-wide crypto-policies
    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-server-ciphers PROFILE=SYSTEM

    # run haproxy with multithread support. the number should match the output from 'nproc' aka your actual cores including hyper-threading
    nbthread {{ haproxy_nbthread }}

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    retries                 0
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000
    balance                 roundrobin
    log                     global

#---------------------------------------------------------------------
# listen for ha stats - will be used by kibana/elasticsearch
#---------------------------------------------------------------------
listen stats # Define a listen section called "stats"
  bind localhost:8000 # Listen on port 8000
  stats enable  # Enable stats page
  stats hide-version  # Hide HAProxy version
  stats realm Haproxy\ Statistics  # Title text for popup window
  stats uri /haproxy_stats  # Stats URI
  stats auth haproxystats:ThisShouldBeChanged  # Authentication credentials


#---------------------------------------------------------------------
# Frontends
#---------------------------------------------------------------------

frontend http_in
    bind            *:80
    mode            http
    option          httplog
    option          http-keep-alive
    timeout client 30s

    {% if haproxy_coraza %}
    # the unique-id is used to match enries between haproxy.log and coraza's log. see also ec_haproxy_coraza.cfg
    unique-id-format %[uuid()]
    unique-id-header X-Unique-ID
    log-format      "%ci:%cp [%tr] %ft %b/%s %TR/%Tw/%Tc/%Tr/%Tt %ST %B %CC %CS %tsc %ac/%fc/%bc/%sc/%rc %sq/%bq %hr %hs %{+Q}r %ID"
    filter spoe engine coraza config /etc/haproxy/coraza.cfg

    # Currently haproxy cannot use variables to set the code or deny_status, so this needs to be manually configured here
    http-request redirect code 302 location %[var(txn.coraza.data)] if { var(txn.coraza.action) -m str redirect }
    http-response redirect code 302 location %[var(txn.coraza.data)] if { var(txn.coraza.action) -m str redirect }

    http-request deny deny_status 403 hdr waf-block "request"  if { var(txn.coraza.action) -m str deny }
    http-response deny deny_status 403 hdr waf-block "response" if { var(txn.coraza.action) -m str deny }

    http-request silent-drop if { var(txn.coraza.action) -m str drop }
    http-response silent-drop if { var(txn.coraza.action) -m str drop }

    # Deny in case of an error, when processing with the Coraza SPOA
    # this also happens if you provide none domain name and/or a domain for which no app is configure within coraza due to how we dispatch
    http-request deny deny_status 500 if { var(txn.coraza.error) -m int gt 0 }
    http-response deny deny_status 500 if { var(txn.coraza.error) -m int gt 0 }
    {% endif %}

    default_backend no-match

#---------------------------------------------------------------------
# Backends
#---------------------------------------------------------------------
{% if haproxy_coraza %}
backend coraza-spoa
    option spop-check
    mode tcp
    timeout connect 5s # greater then hello timeout
    timeout server 3m # greater then idle timeout
    server s1 127.0.0.1:{{ haproxy_coraza_port}} check
{% endif %}

#---------------------------------------------------------------------
# backend no-match, default
#---------------------------------------------------------------------
backend no-match
  http-request  deny deny_status 400
